
 ## Loan Status Dataset
In this Dataset, we have the data of applicants who previously applied for the loan based on the property which is a Property Loan.

The bank will decide whether to give a loan to the applicant based on some factors such as Applicant Income, Loan Amount, previous
Credit History, Co-applicant Income, etc…


About the loan_data.csv file:

 * Loan_ID: A unique loan ID.
 * Gender: Either male or female.
 * Married: Weather Married(yes) or Not Marttied(No).
 * Dependents: Number of persons depending on the client.
 * Education: Applicant Education(Graduate or Undergraduate).
 * Self_Employed: Self-employed (Yes/No).
 * ApplicantIncome: Applicant income.
 * CoapplicantIncome: Co-applicant income.
 * LoanAmount: Loan amount in thousands.
 * Loan_Amount_Term: Terms of the loan in months.
 * Credit_History: Credit history meets guidelines.
 * Property_Area: Applicants are living either Urban, Semi-Urban or Rural.
 * Loan_Status: Loan approved (Y/N).

https://www.kaggle.com/datasets/bhavikjikadara/loan-status-prediction

In [3]:
import numpy as np
import pandas as pd

import scipy.stats as stats
from scipy.stats import t
from scipy import stats
from matplotlib import pyplot
import matplotlib.pyplot as plt
import scipy

print("Numpy version: ", np.__version__)
print("Pandas version: ", pd.__version__)
print("Scipy version: ", scipy.__version__)

Numpy version:  2.2.2
Pandas version:  2.2.3
Scipy version:  1.15.1

In [4]:
# !wget https://raw.githubusercontent.com/kiat/Elements-of-Data-Analytics/refs/heads/main/datasets/loan_data.csv
loans = pd.read_csv("https://raw.githubusercontent.com/kiat/Elements-of-Data-Analytics/refs/heads/main/datasets/loan_data.csv")

loans

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
377,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
378,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
379,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
380,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

# You should use standard alpha Level for all tests, $$\alpha =0.05$$

## Task 1: Testing if the Mean Applicant Income is Less to a Specific Value

**Objective**: Determine if the mean ApplicantIncome is significantly less than $5,000.

**Parameter**: ApplicantIncome (continuous variable).

Write down what is the Hypothesis for this test, and follow the **5-Steps** for this test.

In [ ]:
The mean ApplicantIncome is greater than or equal to $5,000

In [13]:
applicant_income = loans["ApplicantIncome"].dropna()

sample_mean = applicant_income.mean()
sample_std = applicant_income.std()
n = len(applicant_income)

t_stat = (sample_mean - 5000) / (sample_std / np.sqrt(n))

p_value = stats.t.cdf(t_stat, df=n-1)

print(f"Sample Mean: {sample_mean:.2f}")
print(f"Sample Std Dev: {sample_std:.2f}")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")



# Convert column to NumPy array after dropping missing values
loan_applicants_np = np.array(loans["ApplicantIncome"].dropna())

# Perform one-sample t-test (one-tailed: greater than 5000)
results = stats.ttest_1samp(loan_applicants_np, 5000, alternative="greater")

# Print results
print("T-Statistic:", results.statistic)
print("P-Value:", results.pvalue)

Sample Mean: 3579.85
Sample Std Dev: 1419.81
t-statistic: -19.5239
p-value: 0.0000
T-Statistic: -19.52390978651093
P-Value: 1.0

With a t-statistic of -19.5239 and a p-value of 0.0000, the p-value is less than the significance level (α = 0.05).


## Task 2: Testing if the Mean Loan Amount is Equal to a Specific Value

**Objective**: Determine if the mean LoanAmount is significantly different from a specific value (e.g., $150,000).

**Parameter**: LoanAmount (continuous variable).

Write down what is the Hypothesis for this test.

SyntaxError: invalid syntax (1350097089.py, line 1)


## Task 3. Testing if the Mean Coapplicant Income is Equal to a Specific Value
**Objective**: Determine if the mean CoapplicantIncome is significantly different from a specific value (e.g., $2,000).

**Parameter**: CoapplicantIncome (continuous variable).


## Task  4. Testing if the Mean Loan Amount Term is Equal to a Specific Value
**Objective**: Determine if the mean Loan_Amount_Term is significantly different from a specific value (e.g., 360 months).

**Parameter**: Loan_Amount_Term (continuous variable).

## Task 5. Comparing Applicant Income by Gender

**Task Description:**

**Objective**: Determine if there is a significant difference in the mean income of male and female loan applicants.



**Null Hypothesis (H₀):** There is no significant difference in the mean income between Males and Femails.

**Alternative Hypothesis (H₁):** There is a significant difference in the mean income bbetween Males and Femails.

**Attribute to Use:** income (continuous) and Gender (between Males and Femails).

**Steps:**

Split the dataset into two groups based on Gender (Male and Female).


* Check for normality in the ApplicantIncome distribution for both groups (e.g., using visual inspection with histograms).
* Perform an independent two-sample t-test to compare the mean ApplicantIncome between males and females.
* Interpret the p-value: If p < 0.05, reject the null hypothesis and conclude that there is a significant difference in income between genders.

## Task 6. Comparing Loan Amount by Education Level


**Objective:** Determine if there is a significant difference in the mean loan amount requested by graduates and undergraduates.


**Null Hypothesis (H₀):** There is no significant difference in the mean LoanAmount between Graduates and Undergraduates.

**Alternative Hypothesis (H₁):** There is a significant difference in the mean LoanAmount between Graduates and Undergraduates.

**Attribute to Use:** LoanAmount (continuous) and Education (categorical with two levels: Graduate and Undergraduate).

## Task 7: Comparing Coapplicant Income by Loan Status
Task Description:

**Objective:** Determine if there is a significant difference in the mean coapplicant income between applicants who were approved for a loan and those who were not.

**Null Hypothesis (H₀):** There is no significant difference in the mean CoapplicantIncome between applicants who were approved for a loan and those who were not.

**Alternative Hypothesis (H₁):** There is a significant difference in the mean CoapplicantIncome between applicants who were approved for a loan and those who were not.

**Attribute to Use:** CoapplicantIncome (continuous) and Loan_Status (categorical with two levels: Y and N).

# Task 8: Comparing Loan Amount by Property Area

**Objective:** Determine if there is a significant difference in the mean loan amount requested by applicants living in urban and rural areas.


**Null Hypothesis (H₀):** There is no significant difference in the mean LoanAmount between applicants living in Urban and Rural areas.

**Alternative Hypothesis (H₁):** There is a significant difference in the mean LoanAmount between applicants living in Urban and Rural areas.

**Attribute to Use:** LoanAmount (continuous) and Property_Area (categorical with two levels: Urban and Rural).

## Task 9: Comparing Applicant Income by Self-Employment Status


**Objective:** Determine if there is a significant difference in the mean income of self-employed and non-self-employed applicants.

Write down the Hypothesis for this task.

**Attribute to Use:** ApplicantIncome (continuous) and Self_Employed (categorical with two levels: Yes and No).

## Task 10:  Comparing Loan Amount by Credit History

**Objective:** Determine if there is a significant difference in the mean loan amount requested by applicants with a credit history that meets guidelines and those who do not.

**Attribute to Use:** LoanAmount (continuous) and Credit_History (categorical with two levels: 1 (meets guidelines) and 0 (does not meet guidelines)).

## Task 11: Comparing Loan Amount by Marital Status


**Objective:** Determine if there is a significant difference in the mean loan amount requested by married and unmarried applicants.

**Attribute to Use:** LoanAmount (continuous) and Married (categorical with two levels: Yes and No).

## Task 12: Comparing Applicant Income by Loan Status

**Objective:** Determine if there is a significant difference in the mean income of applicants who were approved for a loan and those who were not.

**Attribute to Use:** ApplicantIncome (continuous) and Loan_Status (categorical with two levels: Y and N).

# Task 12.1: Calculate a 95% Confidence Interval of Income of those applicants who are approved for a loan.

# Task 13: Comparing Loan Amount by Dependents

**Objective:** Determine if there is a significant difference in the mean loan amount requested by applicants with 0 dependents and those with 1 or more dependents.

## Task 14: Comparing Loan Amount by Loan Amount Term


**Objective:** Determine if there is a significant difference in the mean loan amount requested by applicants with a loan term of 12 months and those with a loan term of 36 months.